* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.img-container {
  width: 30rem;
  overflow: hidden;
  position: relative;
  flex: 1 1;
}
.white-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem;
}
.white-logo-img {
  max-width: 20rem;
}
.sign-section {
  padding: 2rem;
  flex: 1 1;
  margin: auto;
  max-width: 35rem;
  overflow: auto;
}

.sign-left-logo {
  width: 3rem;
}

.sign-group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.sign-title {
  padding: clamp(3rem, 2rem + 5vw, 4rem) 0rem;
  font-size: clamp(1.6rem, 1rem + 5vw, 4rem);
  font-weight: bold;
}
.sub-text {
  font-size: 0.9rem;
  color: gray;
}
.sign-h1 {
  font-size: clamp(1rem, 0.8rem + 4vw, 2.6rem);
}
.sign-btn {
  color: #1da1f2;
  background-color: white;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.1rem);
  padding: 0.6rem clamp(0.6rem, 0.6rem + 1vw, 1.6rem);
  border: 2px solid #1da1f2;
  border-radius: 30rem;
  -webkit-border-radius: 30rem;
  -moz-border-radius: 30rem;
  -ms-border-radius: 30rem;
  -o-border-radius: 30rem;
  cursor: pointer;
  text-align: center;
  width: 23rem;
  max-width: 100%;
}
.btn:hover {
  background-color: #1da0f2d0;
  color: white;
}
.blue-btn {
  color: white;
  background-color: #1da1f2;
}
.sub-text {
  max-width: 22rem;
}

.sign-in {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 65rem) {
  .img-container {
    display: none;
  }
}

@media screen and (max-width: 65rem) {
  .sign-btn {
    max-width: 100%;
  }
}

/* pop up section */

.sign-pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  overflow: hidden;
}

.pop-up-container {
  width: 30rem;
  min-height: 30rem;
  padding: 0.2rem 1rem;
  font-size: 2rem;
  text-align: center;
  background: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding-bottom: 2rem;
  overflow: auto;
}

.display-none {
  display: none;
}

.sign-logo {
  width: 2.6rem;
  margin: 1rem auto;
}
.input-section-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  position: relative;
  width: 100%;
}

.sign-input {
  width: 100%;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 1.6rem;
  padding-bottom: 0.4rem;
  border: none;
  border: 2px solid gray;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  outline: none;
}

.invalid-sign-input {
  border: 2px solid red;
}
.sign-input::placeholder {
  color: transparent;
}
.sign-input:placeholder-shown + label,
label {
  font-size: 1.2rem;
  text-align: left;
  position: absolute;
  left: 0;
  top: 1rem;
  padding: 0.2rem 1.1rem;
  color: gray;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  cursor: text;
}

.sign-input:focus {
  border: 2px solid #1da1f2;
}

.sign-input:not(:placeholder-shown) + label,
.sign-input:focus + label {
  font-size: 0.8rem;
  color: #1da1f2;
  top: 0.2rem;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.sign-input:focus + .txt-right {
  text-align: right;
  width: 100%;
}
.txt-left {
  text-align: left;
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.birth-title {
  font-size: 1rem;
  text-align: left;
}

.use-mail-txt {
  font-size: 0.9rem;
  color: gray;
  width: 100%;
  text-align: right;
}
.appear-txt {
  font-size: 0.8rem;
}

.gray-btn {
  color: white;
  background-color: gray;
  width: 90%;
}
.invalid-msg {
  color: red;
  font-size: 1rem;
  text-align: left;
}
.txt-normal {
  font-size: 1rem;
}
.padding-ver {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Profile */

.three-column-container {
  width: 100%;
  display: flex;
  max-width: 85rem;
  margin: auto;
}

.main-column {
  width: 30rem;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  flex: 1 1 30rem;
  min-width: 30rem;
}

.nav-column {
  flex: 1 1 20rem;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  max-width: 20rem;
}

.nav-items-container {
  width: 90%;
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.nav-item {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: fit-content;
  border-radius: 40rem;
  -webkit-border-radius: 40rem;
  -moz-border-radius: 40rem;
  -ms-border-radius: 40rem;
  -o-border-radius: 40rem;
}
.nav-item:hover {
  background-color: #eee;
}
.nav-img {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.font-bold {
  font-weight: bold;
}

.user-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 40rem;
  -webkit-border-radius: 40rem;
  -moz-border-radius: 40rem;
  -ms-border-radius: 40rem;
  -o-border-radius: 40rem;
  margin-bottom: 1rem;
}
.lightgray-background:hover {
  background: #eee;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-img-container {
  background: rgb(207, 207, 207);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user-points {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.nav-logo-container {
  width: 90%;
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
}

.nav-logo {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40rem;
  -webkit-border-radius: 40rem;
  -moz-border-radius: 40rem;
  -ms-border-radius: 40rem;
  -o-border-radius: 40rem;
}
.nav-logo:hover {
  background-color: #1da0f231;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1da1f2;
  color: white;
  border: none;
  border-radius: 40rem;
  padding: 0.7rem 2rem;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  max-width: 90%;
  box-shadow: 0px 0px 15px #1da0f223;
}
.nav-btn:hover {
  background-color: #1b97e4;
}

@media screen and (max-width: 65rem) {
  .tablet-mode-display-none {
    display: none;
  }
  .nav-column {
    flex: 1 1 5rem;
    align-items: center;
  }
  .nav-items-container {
    flex: 1 1 100%;
    width: 100%;
    align-items: center;
  }
  .nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* pop up container */

.user-pop-up-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user-pop-up-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 3;
}
.user-pop-up {
  background: white;
  position: absolute;
  z-index: 4;
  bottom: 6rem;
  left: 3rem;
  width: 18rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0px 0px 15px lightgray;
}
@media screen and (min-width: 85rem) {
  .user-pop-up {
    left: calc(3rem + (100vw - 85rem) / 2);
  }
}
.user-pop-head {
  padding: 1rem 0.2rem;
}
.border-bottom {
  border-bottom: 1px solid lightgray;
}
.log-out {
  padding: 1rem;
  cursor: pointer;
}

/* search container */

.search-column {
  flex: 1 1 20rem;
  padding: 0.6rem 2rem;
}
.search-input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.search-img {
  position: absolute;
  left: 1.2rem;
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  padding: 0.8rem 1rem;
  padding-left: 3rem;
  border-radius: 40rem;
  -webkit-border-radius: 40rem;
  -moz-border-radius: 40rem;
  -ms-border-radius: 40rem;
  -o-border-radius: 40rem;
  border: 1px solid #eee;
  background-color: #eee;
}

.search-input:focus {
  background: white;
  border: 1px solid #1b97e4;
}

/* Profile culomn */

.main-column-top-bar {
  border-bottom: 1px solid #eee;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrow-img {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.arrow-img:hover {
  background-color: #eee;
}
.top-bar-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.head-img {
  height: 12rem;
  background-color: #cfd9de;
}

.head-user-img-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  height: 4rem;
}

.head-user-img-container {
  width: 8.8rem;
  height: 8.8rem;
  border: 4px solid white;
  background-color: #cfd9de;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(-2.6rem);
  -webkit-transform: translateY(-2.6rem);
  -moz-transform: translateY(-2.6rem);
  -ms-transform: translateY(-2.6rem);
  -o-transform: translateY(-2.6rem);
}

.head-user-img-container:hover {
  background: #b4bdc2;
}
.font-large {
  font-size: 1.2em;
}
.font-small {
  font-size: 0.9em;
  color: gray;
}

.setup {
  padding: 0.4rem 1rem;
  border: 1px solid #bbb;
  background: white;
  font-size: 1.1rem;
  color: gray;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* profile info */

.profile-info {
  padding: 0rem 1rem;
}
.profile-user-section {
  padding: 1rem 0rem;
}
.last-join-container {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.calendar-container {
  width: 1rem;
  height: 1rem;
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-info-follow-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
/* tabs */
.tab-bar {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
}
.tab-bar-item {
  padding: 1rem 2rem;
  cursor: pointer;
  position: relative;
}
.active::before {
  content: "";
  height: 4px;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 30%;
  background: #1da1f2;
}
.tab-bar-item:hover {
  background-color: #eee;
}

/* Home */

.home-top-bar {
  padding: 0.4rem 1rem;
}
